@model IEnumerable<ProjetoSushiTime.Entidades.Produtos>

@{
    ViewData["Title"] = "Cardapio";
}

<h1 class="text-center">Cardapio</h1>

<table class="table">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                <img src="@item.Imagem" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>

        </tr>
}
    </tbody>
</table>
